name: Clear Az token cache

on:
  workflow_dispatch:
  push:
    branches:
        - main

jobs:
  setup-azure:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_SUB_PLATFORM_DKE }}

      - name: Clear Azure Token Cache Files
        run: |
            # Define the files to clear
            CACHE_FILES=("~/.azure/msal_token_cache.bin" "~/.azure/msal_token_cache.json" "~/.IdentityService/msal.cache" "~/.azure/msal_http_cache.bin")

            # Loop through the files and clear them if they exist
            for file in "${CACHE_FILES[@]}"; do
                # Expand the ~ to the full home directory path
                file_path=$(eval echo $file)

                # Log the directory we are looking into
                directory=$(dirname "$file_path")
                echo "Looking in directory: $directory"

                # Check if the file exists and clear it if it does
                if [ -f "$file_path" ]; then
                echo "Clearing file: $file_path"
                rm -f "$file_path"
                else
                echo "File not found: $file_path"
                fi
            done
                      
      - name: Logout
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az logout